<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Reports</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}"
          href="../../css/custom.css" />
</head>
<body onload="document.f.username.focus();">
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="@{/}"> Report Viewer </a>
                <ul class="nav">
                    <li><a th:href="@{/}" href="home.html"> Home </a></li>
                    <li><a th:href="@{/viewReports}" href="viewReports.html"> View Reports </a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h2>Reports</h2>
                <div th:each="project: ${projects}">
                    <h3>
                        <span th:text="${project.key}"></span>
                    </h3>
                    <table>
                        <tr>
                            <th>Report Date</th>
                            <th>High CVSS</th>
                            <th>Medium CVSS</th>
                            <th>Low CVSS</th>
                        </tr>
                        <tr class="cvssTable" th:each="report: ${project.value}">
                            <td th:text="${report.getProjectInfo().getReportDate()}" />
                            <td th:text="${report.getNumHigh()}" />
                            <td th:text="${report.getNumMedium()}" />
                            <td th:text="${report.getNumLow()}" />
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</body>
</html>